<!-- <IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule> -->


<IfModule mod_rewrite.c>
    RewriteEngine On

    # Block access to any URL with /public/
    RewriteCond %{REQUEST_URI} ^/public/
    RewriteRule ^.*$ - [F,L]
</IfModule>