@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@config "./tailwind.config.js";
@plugin 'flowbite-react/plugin/tailwindcss';

/* Flowbite theme */

/* chart styles */
.apexcharts-tooltip {
  @apply !rounded-lg !border-0 !bg-white !text-gray-500 !shadow-lg dark:!bg-gray-700 dark:!text-gray-400;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
  @apply !border-b !border-gray-200 !bg-gray-100 !px-4 !py-2 dark:!border-gray-500 dark:!bg-gray-600;
}

.apexcharts-xaxistooltip {
  @apply !rounded-lg !border-0 !bg-white !text-gray-500 !shadow-lg dark:!bg-gray-700 dark:!text-gray-300;
}

.apexcharts-tooltip .apexcharts-tooltip-text-y-value {
  @apply dark:text-white;
}

.apexcharts-xaxistooltip-text {
  @apply !text-sm !font-medium;
}

.apexcharts-xaxistooltip:before,
.apexcharts-xaxistooltip:after {
  @apply !border-0;
}

/* SVG map styles */
.svgMap-map-wrapper {
  @apply !bg-white;
}

.svgMap-map-image {
  @apply dark:bg-gray-800;
}

.svgMap-map-controls-wrapper {
  @apply !bottom-0 !left-0 !shadow-none dark:!bg-gray-800;
}

.svgMap-map-controls-zoom {
  @apply dark:!bg-gray-800;
}

.svgMap-map-wrapper .svgMap-control-button {
  @apply !rounded-lg !border !border-solid !border-gray-300 hover:!bg-gray-100 dark:!border-gray-600 dark:hover:!bg-gray-600;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:after,
.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:before {
  @apply dark:bg-gray-600 dark:hover:bg-gray-500;
}

.svgMap-map-wrapper .svgMap-control-button:first-child {
  @apply !mr-2;
}

.svgMap-tooltip {
  @apply !rounded-lg !border-0 !bg-white !text-left !shadow-lg dark:!bg-gray-700;
}

.svgMap-tooltip
  .svgMap-tooltip-content-container
  .svgMap-tooltip-flag-container {
  @apply !mr-2 !inline-block !border-0 !p-0 !text-left;
}

.svgMap-tooltip
  .svgMap-tooltip-content-container
  .svgMap-tooltip-flag-container
  .svgMap-tooltip-flag {
  @apply !inline-block !h-4 !border-0 !p-0;
}

.svgMap-tooltip .svgMap-tooltip-title {
  @apply !inline-block !pt-2 !text-sm !font-semibold !text-gray-900 dark:!text-white;
}

.svgMap-tooltip .svgMap-tooltip-content {
  @apply !mt-0;
}

.svgMap-tooltip .svgMap-tooltip-content table td {
  @apply !text-left !text-sm !font-normal !text-gray-500 dark:!text-gray-400;
}

.svgMap-tooltip .svgMap-tooltip-content table td span {
  @apply !text-left !text-sm !font-semibold !text-gray-900 dark:!text-white;
}

.svgMap-tooltip .svgMap-tooltip-pointer {
  @apply !hidden;
}

.svgMap-map-wrapper .svgMap-country {
  @apply dark:stroke-gray-800;
}

.svgMap-map-wrapper .svgMap-country {
  @apply dark:!stroke-gray-800;
}

.svgMap-country[fill="#4B5563"] {
  @apply !fill-[#4B5563];
}

/* kanban styles */

.drag-card {
  @apply !opacity-100;
  @apply rotate-6;
}

.ghost-card {
  @apply !bg-gray-100/40 dark:!bg-gray-600/40;
}
/* Flowbite Theme */

/* calendar styles */

.fc .fc-toolbar {
    @apply !flex-row-reverse !justify-end !px-4;
}

.fc .fc-toolbar.fc-header-toolbar {
    @apply !mb-5;
}

.fc .fc-toolbar-title {
    @apply !text-lg !text-gray-900 !font-semibold;
}

.fc .fc-today-button {
    @apply !rounded-lg !border !border-gray-200 !bg-white !text-sm !font-medium !px-4 !py-2 !text-gray-900 hover:!bg-gray-100 hover:!text-primary-700 focus:!z-10 focus:!ring-2 focus:!ring-primary-700 focus:!text-primary-700;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    @apply !mx-2;
}

.fc .fc-button-group .fc-prev-button,
.fc .fc-button-group .fc-next-button {
    @apply !bg-white !border-0 !text-gray-500 hover:!text-gray-900 !cursor-pointer !p-2 hover:!bg-gray-100 !rounded !inline-flex focus:!bg-gray-100 focus:!ring-1 focus:!ring-gray-100 !justify-center;
}

.fc .fc-scrollgrid {
    @apply !border-l-0 !border-gray-200;
}

.fc .fc-daygrid-day-frame {
    @apply !border-gray-200;
}

.fc .fc-col-header-cell-cushion {
    @apply !py-3 !text-base !text-gray-900 !font-semibold;
}

.fc-theme-standard th {
    @apply !border-0 !border-b !border-gray-200;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    @apply !mr-2;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start {
    @apply !ml-2;
}

.fc .fc-event .fc-event-main {
    @apply !p-2 !bg-primary-700 hover:!bg-primary-800;
}

.fc .fc-h-event .fc-event-main-frame {
    @apply !text-xs !font-semibold;
}

.fc .fc-daygrid-day-frame {
    @apply hover:!bg-gray-50 !cursor-pointer;
}

.shadow-clear {
    box-shadow: none !important;
}

.ql-toolbar.ql-snow {
    color: red;
    background: rgb(224, 223, 223);
    border: none !important;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ql-editor {
    height: 150px;
    border-radius: 5px;
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 4px; /* Adjust this value to make the scrollbar thinner */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 2px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 2px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

/* Custom scrollbar for Firefox */
.scrollbar-container {
    scrollbar-width: thin; /* Firefox's thinnest option */
    scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
}

/* social btn */
.login-with-google-btn {
    transition: background-color 0.3s, box-shadow 0.3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 13.5px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
            0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
        cursor: not-allowed;
    }
}
